<html>
  <head>
    <title>The Fifth Driver</title>
    <script charset="utf-8">
      setInterval(function(){
        fetch('/stats')
        .then(function (response) {
            return response.json();
        }).then(function (text) {
            console.log('GET response text:');
            console.log(text); // Print the greeting as text
            var cpu = document.getElementById('cpu');
            cpu.innerText = text.cpu;
            var ram = document.getElementById('ram');
            ram.innerText = text.ram;
        });
      }, 2000);
    </script>
  </head>
  <body>
    <h1>The Fifth Driver</h1>
    <p> CPU load: <span id="cpu"></span>, used RAM: <span id="ram"></span>
    </p>
    <img src="{{ url_for('video_feed') }}" width="800px" height="600px">
  </body>
</html>
